window {
    background-image: url("~/Pictures/wallpaers/blurground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}
#window-box {
    padding: 64px;
    /*border: rgba(235, 219, 178, 1) 3px solid; */
    border-radius: 4px;
    box-shadow: rgba(50, 48, 47, 0.5) 0px 4px 12px;
    background-color: rgba(235, 219, 178, 0.2);
}
